In [0]:
#https://medium.com/biaslyai/beginners-guide-to-text-preprocessing-in-python-2cbeafbf5f44

In [0]:
import nltk
nltk.download('punkt')
nltk.download('wordnet')
from nltk import sent_tokenize, word_tokenize
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import stopwords
import pandas as pd
import numpy as np
import re

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [0]:
Text = pd.read_csv("data_bumeran_full.csv",encoding = "utf-8")
Text = Text.drop(columns = ["Unnamed: 0","0"])

In [0]:
#sentences = " Hello world! I am going for coffee before work! "
#words = word_tokenize(sentences)
#print(words)
#for i in range(len(Text["1"])):
#  Text["1"][i] =  word_tokenize(Text["1"][i])
#  Text["2"][i] =  word_tokenize(Text["2"][i])
#Text.head()

In [0]:
def tokenization_s(sentences): # same can be achieved for words tokens
    s_new = []
    for sent in (sentences[:][0]): #For NumpY = sentences[:]
        s_token = sent_tokenize(sent)
        if s_token != '':
            s_new.append(s_token)
    return s_new

In [0]:
def preprocess(text):
    clean_data = []
    for x in (text[:][0]): #this is Df_pd for Df_np (text[:])
        new_text = re.sub('<.*?>', '', x)   # remove HTML tags
        new_text = re.sub(r'[^\w\s]', '', new_text) # remove punc.
        new_text = re.sub(r'\d+','',new_text)# remove numbers
        new_text = new_text.lower() # lower case, .upper() for upper          
        if new_text != '':
            clean_data.append(new_text)
    return clean_data

In [0]:
def tokenization_w(words):
    w_new = []
    for w in (words[:]):  # for NumPy = words[:]
        w_token = word_tokenize(w)
        if w_token != '':
            w_new.append(w_token)
    return w_new

In [0]:
snowball = SnowballStemmer(language = 'english')
def stemming(words):
    new = []
    stem_words = [snowball.stem(x) for x in (words[:][0])]
    new.append(stem_words)
    return new

In [0]:
Text.head()

                                                   1                                                  2
0  PRACTICAS CONTABLES , en NAVARRO & MORA ASESOR...   SOLICITAMOS PRACTICANTES PARA NUESTRA EMPRESA...
1  PRACTICANTE ADMINISTRATIVO, en JAVIER SALAS - ...   EMPRESA DE PRODUCCIONNECESITA PRACTICANTE ADM...
2  PRACTICANTE ADMINISTRATIVO, en FRIGOINCA S.A.C...   Practicantes en administración o afines, con ...
3  PRACTICANTE PROFESIONAL , en Confidencial - se...   Empresa de Prestigio del rubro de minería se ...
4  Practicante Contable , en DEFINE SERVICIOS S.A...   Funciones :1.       Procesar, codificar y con...

In [0]:
test = ['You like to eat apples. He has eaten many apples because he likes eating.']
test_pd = pd.DataFrame(test) #makes this into a panda data frame
test_pd

                                                   0
0  You like to eat apples. He has eaten many appl...

In [0]:
clean_test = preprocess(test_pd) #removes punctuation, see above
clean_test

['you like to eat apples he has eaten many apples because he likes eating']

In [0]:
clean_words = tokenization_w(clean_test) # word tokenization
clean_words

[['you',
  'like',
  'to',
  'eat',
  'apples',
  'he',
  'has',
  'eaten',
  'many',
  'apples',
  'because',
  'he',
  'likes',
  'eating']]

In [0]:
stem_test = stemming(clean_words) # stemming similar words
stem_test

[['you',
  'like',
  'to',
  'eat',
  'appl',
  'he',
  'has',
  'eaten',
  'mani',
  'appl',
  'becaus',
  'he',
  'like',
  'eat']]

In [0]:
snowball = SnowballStemmer(language = 'spanish')
def stemming(words):
    new = []
    stem_words = [snowball.stem(x) for x in (words[:][0])]
    new.append(stem_words)
    return new

In [0]:
test2 = [Text["1"][0]]
test2_pd = pd.DataFrame(test2)
test2_pd

                                                   0
0  PRACTICAS CONTABLES , en NAVARRO & MORA ASESOR...

In [0]:
clean_test = preprocess(test2_pd) #removes punctuation, see above
clean_test

['practicas contables  en navarro  mora asesores sac  septiembre   bumerancompe']

In [0]:
clean_words = tokenization_w(clean_test) # word tokenization
clean_words

[['practicas',
  'contables',
  'en',
  'navarro',
  'mora',
  'asesores',
  'sac',
  'septiembre',
  'bumerancompe']]

In [0]:
stem_test = stemming(clean_words) # stemming similar words
stem_test

[['practic',
  'contabl',
  'en',
  'navarr',
  'mor',
  'asesor',
  'sac',
  'septiembr',
  'bumerancomp']]

In [0]:
for i in range(len(Text["2"])):
  test = [Text["2"][i]]
  test_pd = pd.DataFrame(test) #makes this into a panda data frame
  clean_test = preprocess(test_pd) #removes punctuation, see above
  clean_words = tokenization_w(clean_test) # word tokenization
  stem_test = stemming(clean_words) # stemming similar words
  Text["2"][i] =stem_test

In [0]:
Text.head()

                                                   1                                                  2
0  PRACTICAS CONTABLES , en NAVARRO & MORA ASESOR...  [[solicit, practic, par, nuestr, empres, perso...
1  PRACTICANTE ADMINISTRATIVO, en JAVIER SALAS - ...  [[empres, de, produccionnecesit, practic, admi...
2  PRACTICANTE ADMINISTRATIVO, en FRIGOINCA S.A.C...  [[practic, en, administr, o, afin, con, domini...
3  PRACTICANTE PROFESIONAL , en Confidencial - se...  [[empres, de, prestigi, del, rubr, de, min, se...
4  Practicante Contable , en DEFINE SERVICIOS S.A...  [[funcion, proces, codific, y, contabiliz, los...

In [0]:
for i in range(len(Text["1"])):
  Text["1"][i] = Text["1"][i].split(", en")[0].strip().capitalize()
Text.head()

                            1                                                  2
0         Practicas contables  [[solicit, practic, par, nuestr, empres, perso...
1  Practicante administrativo  [[empres, de, produccionnecesit, practic, admi...
2  Practicante administrativo  [[practic, en, administr, o, afin, con, domini...
3     Practicante profesional  [[empres, de, prestigi, del, rubr, de, min, se...
4        Practicante contable  [[funcion, proces, codific, y, contabiliz, los...

In [0]:
Text.to_csv("data_bumeran_full_limpio.csv")

In [0]:
listakeywords=[]
k = 0
for i in range(len(Text["2"])):
  for j in range(len(Text["2"][i][0])):
    if len(Text["2"][i][0][j])>4 and len(Text["2"][i][0][j])<12 :
      listakeywords.append(["",""])
      listakeywords[-1][0] = i
      listakeywords[-1][1] = Text["2"][i][0][j]
len(listakeywords)

147082

In [0]:
listakeywords_pd = pd.DataFrame(listakeywords)
listakeywords_pd.head()

   0        1
0  0  solicit
1  0  practic
2  0   nuestr
3  0   empres
4  0   person

In [0]:
listakeywords_pd.to_csv("listakeywords.csv")

In [0]:
listatop = ["respons","gestion","equip","ingeni","inform","industrial","offic","excel","diseñ","analisis"]

In [0]:
matrizfinal = Text
matrizfinal = matrizfinal.copy()

In [0]:
for i in listatop:
  matrizfinal[i] = 0
matrizfinal.head()

                            1  ... analisis
0         Practicas contables  ...        0
1  Practicante administrativo  ...        0
2  Practicante administrativo  ...        0
3     Practicante profesional  ...        0
4        Practicante contable  ...        0

[5 rows x 12 columns]

In [0]:
matrizfinal.to_csv("matrizfinal.csv")